.area{
    text-align: center;
    padding:15px;
    font-size:21px;
     font-family:Lucida Sans ;
     border-radius: 30%;
     background-color: darkgray;
     width: 20%;
     display: block;
     margin: auto;
    
     font-size: 40px;
    margin-bottom: 54px;
    margin-top: 54px;
}